/* Обычный */
@font-face {
  font-family: 'BigFont';
  src: url(./fonts/14717.otf);
}

/* Жирный */
@font-face {
  font-family: 'Winston';
  src: url(./fonts/11081.ttf);
}

body {
  background-image: url('./img/bg-img.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  height: 100vh;
  margin: 0;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.3;
  filter: blur(2px);
}

.main-header:hover {
  opacity: 1;
  filter: blur(0px);
  backdrop-filter: blur(3px);
}

/* меню бургер */

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}

h1,
p {
  color: #fff;
}

.cite {
  font-family: 'BigFont';
  font-size: 40px;
}

.winston {
  font-family: 'Winston';
  font-size: 50px;
}

/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --accent-color: #b036e0;
}

* {
  box-sizing: border-box;
  transition: all 0.5s ease;
  font-family: 'Montserrat', sans-serif;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.search .input {
  background-color: transparent;
  outline: 0;
  border: 5px solid var(--accent-color);
  border-radius: 25px;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.5s ease;
  cursor: pointer;
}

.search .input:focus {
  outline: none;
}

.search .input::placeholder {
  opacity: 0;
}

.search.active .input {
  width: 250px;
  border-radius: 25px;
}

.search.active .input::placeholder {
  opacity: 1;
}

.reset {
  border: 0;
  background: transparent;
  padding: 15px 5px;
  transform: rotate(45deg) translateY(35px) translateX(5px);
}

.handle {
  border: 0;
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--accent-color);
}

.search.active .reset {
  transform: rotate(-45deg) translateY(10px) translateX(10px);
  cursor: pointer;
}

.search .handle:after {
  content: '';
  display: block;
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--accent-color);
  transition: all 0.3s ease;
}

.search.active .handle:after {
  transform: rotate(90deg);
  transition: all 0.3s ease;
}
